.DS_Store
node_modules
*.pyc
vim/bundle/
.netrwhist
require_built/
/Volumes/eb_home/work/eventbritecore/django/media/django/js/require_built
/Volumes/eb_home/work/eventbritecore/django/media/django/js/require_built/
