[user]
    name = Barrett Cook
    email = barrett@eventbrite.com
[alias]
    st = status
    di = diff
    co = checkout
    ci = commit
    br = branch
    sta = stash
    cp = cherry-pick
    svndiff = !git-svn-diff
    sdiff = diff git-svn
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    svnup = !git stash && git svn rebase && git stash pop
    rb = !post-review --parent=trunk --guess-description --username=bcook -o
    rb-diff = !post-review -n --parent=trunk
    pr = pull --rebase
	ctags = !.git/hooks/ctags
[log]
    date = local
[core]
    ignorecase = true
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    editor = "/usr/local/bin/mvim -f"
	excludesfile = ~/.gitignore
[reviewboard]
    url = https://reviews.evbhome.com/
[mergetool "mvim"]
    cmd = /usr/local/bin/mvim -d -g $LOCAL $MERGED $REMOTE
    keepbackup = false
[merge]
    tool = mvim
[rerere]
	enabled = true
[diff]
	algorithm = patience
[credential]
    helper = osxkeychain
[color]
    ui = auto
[color "diff"]
    whitespace = red reverse

[init]
	templatedir = ~/.git_template
[branch]
	autosetuprebase = always
	autosetupmerge = always
